/* Trainer Component CSS */
/* .trainer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
  } */
  
  .trainer-card {
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  
  .trainer-card h3 {
    color: #2c786c; /* Calm green shade */
    margin-bottom: 10px;
  }
  
  .trainer-card p {
    color: #555;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .trainer-card strong {
    color: #333;
  }
